.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.result .main_result_description {
  font-size: 20px;
  font-family: 'MapoBackpacking';
  color: #5b1333;
  text-align: center;
  margin-bottom: 10px;
  /* color: #e74c3c; */
  line-height: 32px;
  /* text-shadow: 0px 4px 4px #000000; */
}

.result .celebrity {
  font-family: 'MapoBackpacking';
  text-align: center;
  margin-bottom: 10px;
  color: #5b1333;
  font-size: 18px;
}

.result p {
  font-size: 20px;
  text-align: justify;
  color: black;
  line-height: 32px;
  font-weight: 400;
  font-family: 'MapoBackpacking';
}

.result .reset__btn {
  background-color: #82003b;
  border-radius: 12px;
  margin-top: 24px;
  margin-bottom: 12px;
  width: 240px;
  padding: 12px 0px;
  color: white;
  font-size: 16px;
  font-family: 'KimjungchulMyungjo-Bold';
  outline: none;
  border: none;
}

.app_down_btn {
  background-color: #ffe924;
  border-radius: 12px;
  margin-bottom: 12px;
  width: 240px;
  padding: 12px 0px;
  color: rgb(54, 54, 54);

  font-size: 16px;
  font-family: 'KimjungchulMyungjo-Bold';
  outline: none;
  border: none;
}

.share__btn {
  background-color: #f7e600;
  border-radius: 12px;
  margin-bottom: 12px;
  width: 240px;
  padding: 12px 0px;
  color: rgba(0, 0, 0, 0.9);
  font-size: 16px;
  font-family: 'KimjungchulMyungjo-Bold';
  outline: none;
  border: none;
}

.result .reset__btn2 {
  margin-bottom: 10px;
  background-color: #c53e1c;
  border-radius: 30px 30px 30px 30px;
  width: 150px;
  padding: 10px 10px;
  color: #ecf0f1;
  font-size: 15px;
  font-family: 'Yeon Sung', cursive;
  outline: none;
  border: none;
}
.consult__btn {
  background-color: #3f3f3f;
  border-radius: 12px;
  margin-bottom: 12px;
  width: 240px;
  padding: 12px 0px;
  color: rgb(54, 54, 54);
  font-size: 16px;
  font-family: 'KimjungchulMyungjo-Bold';
  outline: none;
  border: none;
}

.consult__btn span {
  background: transparent;
  color: transparent;
  background-image: linear-gradient(to right, #ffd700, #ffa500);
  -webkit-background-clip: text;
  background-clip: text;
}

.hidden {
  visibility: hidden;
}

.ai {
  font-family: 'MapoBackpacking';
  margin-top: 15px;
  animation: aiAnim 0.7s linear infinite;
}

@keyframes aiAnim {
  0% {
    transform: translateX(-2px);
  }
  15% {
    transform: translateX(0px);
    transform: scale(1.01);
  }
  50% {
    transform: translateX(2px);
  }
  85% {
    transform: translateX(0px);
    transform: scale(1.01);
  }
  100% {
    transform: translateX(-2px);
  }
}

.test__ai {
  /* border: 1px solid black; */
  margin: 20px 0;
}

.test__ai:hover {
  cursor: pointer;
}

.list__img {
  width: 320px;
  height: 180px;
  object-fit: cover;
}

.list__title {
  padding: 16px 10px;
  background-color: rgb(56, 56, 56);
  color: #dea55d;
}

.list__title h1 {
  font-weight: 701;
  margin-bottom: 6px;
}

.list__title h2 {
  font-size: 12px;
}

.disblock {
  display: none;
}

/* 앱 다운 화면 */

.habitown__banner__wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  opacity: 1;
  transition: 3s transform;
  margin-top: 12px;
}

.habitown__banner {
  /* position: fixed;
  top: 160px; */
}

.habitown__upper__title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  font-size: 20px;
  color: white;
}

.habitown__upper__comment {
  color: white;
  margin-bottom: 4px;
  font-weight: 700;
}

.habitown__lower__comment {
  color: white;
  font-size: 14px;
  opacity: 0.8;
}

.habitown__img {
  width: 100%;
}

.habitown__img img {
  width: 100%;
}

.habitown__btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.habitown__left {
  display: flex;
  align-items: center;
}

.left__icon {
  width: 60px;
  margin-right: 10px;
}

.left__icon img {
  border-radius: 10px;
  width: 100%;
  border: 1px solid white;
}

.left__description {
  color: white;
}

.left__title {
  font-size: 16px;
  font-weight: 700;
}

.left__sub {
  font-size: 14px;
  opacity: 0.8;
  margin: 4px 0;
}

.left__star {
  font-size: 12px;
  opacity: 1;
}

.app__download__btn {
  color: white;
  background-color: #317bcf;
  padding: 6px 15px;
  padding-top: 8px;
  font-weight: 700;
  border-radius: 10px;
  margin: 10px;
  font-weight: 400;
  text-decoration: none;
}

.app__download__btn:hover {
  cursor: pointer;
}

.habitown__under__img__wrap {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.habitown__img {
  width: 33%;
}

.habitown__img img {
  border-radius: 10px;
  border: 0.5px solid rgba(255, 255, 255, 0.6);
}

.under__img2 {
  margin: 0 4px;
}

.habitown__banner__img {
  width: 100%;
}

.habitown__banner__img img {
  width: 100%;
}

.habitown__download__btn__bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
  background-color: #317bcf;
  margin-top: 10px;
  padding: 12px 0 10px 0;
  font-weight: 700;
  border-radius: 10px;
  text-decoration: none;
}

.habitown__download__btn__bottom:hover {
  cursor: pointer;
}

.habitown__cancel__btn__bottom {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  text-decoration: underline;
  padding: 12px 0 10px 0;
  color: white;
  opacity: 0.6;
}

.habitown__cancel__btn__bottom:hover {
  cursor: pointer;
}

.black__board {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 1;
  z-index: 60;
  transition: all 0.5s;
}

.black__board:hover {
  cursor: pointer;
}

.disblock {
  display: none;
}

.disappear {
  opacity: 0;
}

.appear {
  opacity: 1;
}
