.ad_box {
  width: 320px;
  height: 50px;
  margin: 0 outo;
  margin-bottom: 10px;
}

.ad_box2 {
  width: 320px;
  height: 90px;
  margin: 0 outo;
  margin-bottom: 10px;
}

.ad_box3 {
  width: 320px;
  height: 250px;
  margin: 0 outo;
  margin-bottom: 10px;
}

.ad_box4 {
  width: 320px;
  height: 90px;
  margin: 0 outo;
  margin-bottom: 10px;
}
