.header {
  font-family: 'Yeon Sung', cursive;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header__upper {
  z-index: 2;
  padding: 20px 20px;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgba(70, 70, 70, 0.3);
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  color: rgb(68, 68, 68);
}

.header__title:hover {
  cursor: pointer;
}

.header__menu__btn {
  font-size: 20px;
  color: rgb(68, 68, 68);
}
.header__menu__btn:hover {
  cursor: pointer;
}

.header__a {
  color: black;
  text-decoration: none;
}

.header__a:visited {
  color: black;
}

.header__title .header__menu {
  font-size: 16px;
  margin-left: 16px;
}

.language__wrap {
  border: 1px solid rgb(68, 68, 68);
  border-radius: 10px;
  padding: 4px 8px;
  padding-bottom: 6px;
  display: flex;
  font-size: 16px;
}

.language {
  color: rgb(199, 199, 199);
  padding: 0px 6px;
  text-decoration: none;
}

.language__selected {
  color: rgb(68, 68, 68);
  text-decoration: underline;
  text-underline-position: under;
}
