@import 'gender.css';
@import 'fileupload.css';
@import 'picture.css';
@import 'reset.css';
@import 'header.css';
@import 'result.css';
@import 'media.css';
@import 'footer.css';
@import 'ad.css';

@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700');

body {
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

* {
  box-sizing: border-box;
}

.randomBanner {
  width: 320px;
}

.dang__img {
  width: 320px;
  text-decoration: none;
}

.dang__img img {
  width: 100%;
}

.dang__ment {
  text-align: center;
  font-weight: 700;
}
/* .dang__ment2 {
  font-size: 14px;
  text-align: center;
  margin-bottom: 5px;
  font-weight: 700;
} */

.main__ai__title {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* font-family: "East Sea Dokdo", cursive; */
  padding-top: 30px;
  margin-bottom: 10px;
}

.main__ai__title .title {
  font-size: 36px;
  margin-bottom: 10px;
  font-family: 'Yeon Sung', cursive;
}

.main__ai__title .subtitle {
  font-size: 20px;
  opacity: 0.7;
  width: 90%;
  text-align: center;
  line-height: 25px;
}

.gender_wrap {
  margin-top: 12px;
  margin-bottom: 6px;
  font-family: 'Yeon Sung', cursive;
  opacity: 0.7;
}

.jocoding {
  width: 100%;
  font-weight: 700;
  align-self: flex-end;
  text-align: center;
  margin-right: 30px;
  font-size: 15px;
  margin-bottom: 15px;
}

.jocoding a {
  color: white;
}

.jocoding a:link {
  text-decoration: underline;
  color: #ff0200;
}

.jocoding a:visited {
  text-decoration: underline;
  color: #ff0200;
}

a:hover {
  opacity: 1;
}

#container {
  width: 160px;
  height: 36px;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  user-select: none;
  cursor: pointer;
  margin-bottom: 20px;
}

.inner-container {
  position: absolute;
  left: 0;
  top: 0;
  width: inherit;
  height: inherit;
  text-transform: uppercase;
  font-size: 0.6em;
  letter-spacing: 0.2em;
}

.inner-container:first-child {
  background: #e9e9e9;
  color: #a9a9a9;
}

.inner-container:nth-child(2) {
  background: #d74046;
  color: white;
  clip-path: inset(0 50% 0 0);
  transition: 0.3s cubic-bezier(0, 0, 0, 1);
}

.toggle {
  width: 50%;
  position: absolute;
  height: inherit;
  display: flex;
  box-sizing: border-box;
}

.toggle p {
  margin: auto;
}

.toggle:nth-child(1) {
  right: 0;
}

.number {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 14px;
}

.count__num {
  font-weight: 700;
}

.timer {
  color: rgb(129, 129, 129);
  font-weight: 400;
  font-size: 12px;
}

.header {
  padding-bottom: 16px;
}

.share {
  width: 100%;
  text-align: center;
  font-size: 12px;
  margin-top: 3px;
}

.result button {
  outline: none;
}

.result button:hover {
  cursor: pointer;
}

.result button:active {
  outline: none;
}

.super__members {
  width: 320px;
  margin-bottom: 15px;
}

.super__img,
.dosa__img {
  width: 100%;
}

.super__img:hover {
  cursor: pointer;
}

.dosa__img:hover {
  cursor: pointer;
}

.other__result {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* overflow-x: scroll;
  overflow-x: hidden; */
  white-space: nowrap;
}

.star__list__wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-top: 8px;
}

.star__list__img {
  /* display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid black;
  font-size: 16px;
  margin: 0 4px;
  color: black; */
  color: black;
  opacity: 0.8;
  margin-bottom: 4px;
  margin-left: 4px;
}

.noti {
  margin-top: 10px;
  font-size: 12px;
}

.percent_bar {
  width: 100%;
  background-color: #ebebeb;
  border-radius: 10px;
}

.percent {
  font-size: 12px;
  padding: 4px 0;
  border-radius: 10px;
  text-align: center;
  font-family: 'Yeon Sung', cursive;
}

.zero {
  color: white;
  background-color: #eba6be;
}

.zeroone {
  color: white;
  background-color: rgb(143, 196, 224);
}

.onetwo {
  color: white;
  background-color: rgb(136, 209, 153);
}

.twothree {
  color: white;
  background-color: rgb(140, 140, 208);
}

.threefour {
  color: white;
  background-color: rgb(145, 212, 212);
}

.fourfive {
  color: white;
  background-color: rgb(202, 148, 202);
}

.fivesix {
  color: white;
  background-color: rgb(195, 160, 125);
}

.sixseven {
  color: white;
  background-color: rgb(179, 124, 200);
}

.seveneight {
  color: white;
  background-color: rgb(200, 133, 190);
}

.eightnine {
  color: white;
  background-color: rgb(195, 130, 152);
}

.nineten {
  color: white;
  background-color: rgb(212, 149, 138);
}

.bold {
  font-weight: 700;
  color: black;
}

.none {
  display: none;
}

.face_analysis_contents {
  display: flex;
  justify-content: space-between;
  width: 320px;
  margin-top: 20px;
  padding: 20px;
  font-family: 'Yeon Sung', cursive;
  text-decoration: none;
  color: black;
  background-color: white;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 10px;
}
