@import 'reset.css';
@import 'common.css';
@import 'gender.css';
@import 'fileupload.css';
@import 'picture.css';
@import 'header.css';
@import 'result.css';
@import 'footer.css';
@import 'ad.css';
@import 'kmj.css';
@import 'animation.css';
@import 'media.css';

@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700');

@font-face {
  font-family: 'MapoBackpacking';
  src: url('https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoBackpackingA.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
