@media screen and (min-width: 500px) {
  .bg__dust {
    content: url("https://i.ibb.co/w4BTZxH/image.png");
    position: absolute;
    z-index: -1;
    width: 100%;
    opacity: 1;
    /* margin-top: 64px; */
  }

  .footer,
  .test__upper,
  .submitForm,
  .today__weather__wrap,
  .lower__comment,
  .body__wrap,
  .contact {
    width: 500px;
  }

  .result__box {
    z-index: -1;
    position: absolute;
    right: 0px;
    bottom: -22px;
    width: 100%;
  }

  .border {
    width: 350px;
  }

  .border__hair {
    width: 500px;
  }

  .apologize {
    width: 320px;
  }

  .frame__dust {
    transform: scale(2);
    bottom: 10px;
  }
}
@media screen and (max-width: 499px) {
  .bg__dust {
    content: url("https://i.ibb.co/7Gbh2BT/image.png");
    position: absolute;
    z-index: -1;
    width: 100%;
    opacity: 1;
    /* margin-top: 64px; */
  }
  .border,
  .test__upper,
  .submitForm {
    width: 70%;
  }

  .border__wrap {
    width: 100%;
  }

  .ad__upper,
  .header,
  .footer,
  .today__weather__wrap,
  .today__weather,
  .lower__comment,
  .body__wrap,
  .contact {
    width: 100%;
  }

  .border__hair {
    width: 70%;
  }

  .apologize {
    width: 320px;
  }
}
