.result {
  font-family: "62570체";
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  text-align: center;
}

.main__result {
  width: 100%;
  color: #fff4ba;
  margin-bottom: 10px;
}
.result__answer {
  position: relative;
  font-size: 16px;
}

.result__box {
  z-index: -1;
  position: absolute;
  right: 0px;
  bottom: -15px;
  width: 100%;
}

.celebrity {
  text-align: center;
  margin-bottom: 8px;
  color: #fff4ba;
  font-size: 14px;
}

.result p {
  font-size: 18px;
  text-align: justify;
  color: #162536;
  line-height: 23px;
}

.result button {
  margin-top: -15px;
  background-color: #162536;
  border-radius: 30px 30px 30px 30px;
  width: 150px;
  padding: 10px 10px;
  color: #ecf0f1;
  font-size: 15px;
  font-family: "Yeon Sung", cursive;
  margin-bottom: 20px;
  outline: none;
  border: none;
}

.hidden {
  display: none;
}

.ai {
  font-family: "Yeon Sung", cursive;
  margin-top: 15px;
  animation: aiAnim 0.7s linear infinite;
}

@keyframes aiAnim {
  0% {
    transform: translateX(-2px);
  }
  15% {
    transform: translateX(0px);
    transform: scale(1.01);
  }
  50% {
    transform: translateX(2px);
  }
  85% {
    transform: translateX(0px);
    transform: scale(1.01);
  }
  100% {
    transform: translateX(-2px);
  }
}

.ad_box {
  width: 320px;
  margin: 0 outo;
  margin-bottom: 15px;
}

.ad_box_top {
  width: 320px;
  margin: 0 outo;
}

.comment {
  width: 100%;
}

.ad_box2 {
  width: 300px;
  margin: 0 outo;
  margin-top: 15px;
  margin-bottom: 30px;
}

.result .other__test {
  margin-top: -15px;
  background-color: #030025;
  border: 1px solid #030025;
  border-radius: 30px 30px 30px 30px;
  width: 100%;
  padding: 10px 10px;
  color: white;
  font-size: 15px;
  font-family: "Yeon Sung", cursive;
  margin-bottom: 20px;
  outline: none;
}

.result .today__test {
  margin-top: -15px;
  color: #fee500;
  border: 1px solid #391c1c;
  background-color: #391c1c;
  border-radius: 30px 30px 30px 30px;
  width: 100%;
  padding: 10px 10px;
  font-size: 15px;
  margin-bottom: 20px;
  outline: none;
}
