@import "picture.css";
@import "reset.css";
@import "header.css";
@import "result.css";
@import "media.css";
@import "footer.css";
@import "ad.css";
@import "subscribe.css";
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");

body {
  background: linear-gradient(
    295deg,
    rgba(154, 72, 255, 0.65),
    rgba(39, 110, 255, 0.65)
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
}

.body__wrap {
  font-family: "Black Han Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
  box-sizing: border-box;
}

.main__ai__title {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Black Han Sans", sans-serif;
  padding: 30px 30px 20px 30px;
}

.main__ai__title .title {
  width: 84%;
}

.main__ai__title .subtitle {
  margin-top: 10px;
  color: white;
  font-size: 16px;
  opacity: 1;
  /* -webkit-text-stroke: -1px #fff; */
  text-shadow: 1px 2px 1px rgb(27, 27, 27);

  /* text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff; */
}

.number {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 5px;
  color: white;
  text-shadow: 1px 2px 1px rgb(27, 27, 27);
}

.timer {
  color: white;
  font-weight: 400;
  font-size: 10px;
}

#container {
  width: 160px;
  height: 36px;
  position: relative;
  overflow: hidden;
  user-select: none;
  cursor: pointer;
  margin-bottom: 20px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.6);
}

.inner-container {
  position: absolute;
  left: 0;
  top: 0;
  width: inherit;
  height: inherit;
}

.inner-container:first-child {
  background: #4b4b4b;
  color: #a9a9a9;
}

.inner-container:nth-child(2) {
  /* background: #d74046; */
  background-color: white;
  color: #9a48ff;
  clip-path: inset(0 50% 0 0);
  transition: 0.3s cubic-bezier(0, 0, 0, 1);
}

.toggle {
  width: 50%;
  position: absolute;
  height: inherit;
  display: flex;
  box-sizing: border-box;
}

.toggle p {
  font-size: 16px;
  margin: auto;
}

.toggle:nth-child(1) {
  right: 0;
}

.header {
  padding-bottom: 16px;
}

.share {
  width: 100%;
  text-align: center;
  font-size: 12px;
  margin-top: 3px;
}

.result button {
  outline: none;
}

.result button:hover {
  cursor: pointer;
}

.result button:active {
  outline: none;
}

.super__members {
  width: 320px;
  margin-bottom: 15px;
}

.super__img {
  width: 100%;
}

.super__img:hover {
  cursor: pointer;
}

.noti {
  margin-top: 14px;
  font-size: 14px;
  color: #fff4ba;
  font-family: "Black Han Sans", sans-serif;
}

.bold {
  font-weight: 700;
}

.black__board {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 1;
  z-index: 60;
  transition: all 0.5s;
}

.black__board:hover {
  cursor: pointer;
}

.disblock {
  display: none;
}

.disappear {
  opacity: 0;
}

.appear {
  opacity: 1;
}

.house__title {
  width: 50%;
}

.house__sub {
  width: 80%;
}

.ad_box {
  width: 320px;
  margin: 0 outo;
  margin-bottom: 15px;
}

.ad_box_top {
  width: 320px;
  margin: 0 outo;
}

.comment {
  width: 100%;
}

.ad_box2 {
  width: 300px;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 30px;
}

.intro__character__wrap {
  color: white;
  font-family: "Black Han Sans", sans-serif;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro__wrap {
  display: flex;
  margin-top: 10px;
}

.intro__title {
  margin: 20px 0 10px 0;
}

.intro__title span {
  background: linear-gradient(
    to right,
    #ddc59b,
    #fff9cf,
    #af7c31,
    #caac78,
    #ac792f
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro__character__wrap .help {
  margin-top: 50px;
  font-size: 12px;
}

.house__banner {
  width: 320px;
  margin-bottom: 20px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.house__banner__title {
  font-size: 12px;
  margin-top: 12px;
  line-height: 18px;
  text-align: center;
  width: 100%;
  font-weight: 700;
  color: white;
  outline: none;
  text-decoration: none;
}

.house__img {
  width: 100%;
}

.house__img:hover {
  cursor: pointer;
}

.none {
  display: none;
}

.house__btn {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
