body {
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.main_body_wrap {
  background: #eaeefe;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_content_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

::-webkit-scrollbar {
  display: none;
}

.main_content_wrap_top_margin {
  margin-top: 24px;
}

.main_content_wrap {
  margin-top: 60px;
}

* {
  box-sizing: border-box;
}
