.header_chat_wrap {
  font-family: "KimjungchulMyungjo-Bold";
}

.header_chat {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  background-color: #59371f;
  text-decoration: none;
}

.header_fixed {
  position: fixed;
  top: 0;
  z-index: 999;
}

.header_chat_icon {
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  margin-right: 8px;
}

.header_chat_title {
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
}

#header_back a {
  text-decoration: none;
}
