.header_ad {
  margin-top: 40px;
  padding: 12px 0 8px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #2f2f32;
}

.ad_box {
  width: 320px;
  height: 50px;
  margin: 0 outo;
  margin-bottom: 10px;
}

.ad_box2 {
  width: 320px;
  height: 90px;
  margin: 0 outo;
  margin-bottom: 10px;
}
.ad_box3 {
  width: 320px;
  height: 250px;
  margin: 0 outo;
  margin-top: 10px;
  margin-bottom: 10px;
}

.ad_box4 {
  width: 320px;
  height: 90px;
  margin: 0 outo;
  margin-bottom: 10px;
  margin-top: 10px;
}

.ad_box5 {
  width: 320px;
  height: 100px;
  margin: 0 outo;
  margin-bottom: 10px;
}

.ad_box6 {
  width: 320px;
  height: 140px;
  margin: 0 outo;
  margin-bottom: 10px;
}

.ad_box7 {
  width: 300px;
  height: 250px;
  margin: 0 outo;
  margin-bottom: 10px;
  margin-top: 20px;
}

.ad_box8 {
  width: 300px;
  height: 250px;
  margin: 0 outo;
}

.bottom_ad {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: fixed;
  bottom: 0px;
  z-index: 100;
  justify-content: space-between;
  align-items: center;
}

.bottom_ad_top {
  background-color: #181600;
  width: 100%;
  color: white;
  font-size: 16px;
  padding: 6px;
  text-align: center;
  font-weight: 300;
}

.bottom_ad_bottom {
  background-color: #fee500;
  padding: 12px 16px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.bottom_ad_ment {
  color: #181600;
  font-weight: bold;
  line-height: 20px;
}

.bottom_ad_btn {
  background-color: #181600;
  color: white;
  padding: 8px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.bottom_ad_btn:active {
  opacity: 0;
}

.bottom_ad_btn i {
  margin-right: 2px;
}

.banner_wrap {
  width: 320px;
  margin-bottom: 20px;
}

.banner_wrap img {
  width: 100%;
  border-radius: 12px;
}
