.main_yangban_wrap {
  /* padding-top: 148px; */
  margin-top: 64px;
  padding-left: 16px;
  padding-right: 16px;
}

.main_upper_wrap {
  display: flex;
  flex-direction: column;
}

.main_upper_title {
  color: #bababa;
  font-size: 16px;
}

.main_upper_content_wrap {
}

.main_upper_content_wrap img {
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
}

.main_lower_wrap {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.main_lower_title {
  color: #bababa;
  font-size: 16px;
}

.main_lower_content_wrap {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 24px;
  width: 100%;
}

.yangban_profile_wrap {
  display: flex;
  align-items: center;
  text-decoration: none;
  width: 100%;
}

.yangban_profile_left {
  width: 64px;
}

.yangban_profile_left img {
  width: 100%;
  border-radius: 10px;
}

.yangban_profile_right {
  display: flex;
  flex-direction: column;
  padding-left: 12px;
}

.yangban_profile_right_upper {
  display: flex;
  align-items: cneter;
  margin-bottom: 8px;
}

.yangban_profile_name {
  font-size: 20px;
  font-weight: 700;
  color: white;
  padding-top: 2px;
}
.yangban_profile_hashtag_wrap {
  display: flex;
  margin-left: 6px;
}

.yangban_profile_hashtag {
  color: #cccccc;
  background-color: #555555;
  padding: 3px 10px;
  padding-top: 6px;
  border-radius: 5px;
  margin-right: 4px;
  font-size: 12px;
}

.yangban_profile_hashtag2 {
  color: #2f2f2f;
  background-color: #ffd620;
  padding: 3px 10px;
  padding-top: 6px;
  border-radius: 5px;
  margin-right: 4px;
  font-size: 12px;
}

.yangban_profile_description {
  color: #cccccc;
  font-size: 16px;
}
