body {
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.main_body_wrap {
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
}

.main_content_wrap {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}

.upper_img_wrap {
  padding: 0 16px;
  margin-bottom: 20px;
}

.upper_img {
  width: 100%;
  border-radius: 10px;
}

.face_test_wrap {
  padding: 0 16px;
}

.face_test_title {
  font-family: "KimjungchulMyungjo-Bold";
  font-size: 20px;
  margin-bottom: 12px;
  color: #0f0f0f;
}

.face_test_product_wrap {
}

.face-product-section {
  display: flex;
  flex-direction: column;
}

.product-card {
  display: flex;
  align-items: flex-start;
  background: transparent;
  border-radius: 14px;
  position: relative;
  margin-bottom: 16px;
}

.product-image {
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  margin-right: 10px;
}

.square-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 110px;
}

.product-title {
  font-size: 16px;
  font-weight: 600;
  color: #0f0f0f;
  text-align: justify;
}

.product-meta {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.product-stats {
  color: #7c8ba0;
  font-size: 12px;
}

.product-meta-price {
  display: flex;
  align-items: flex-end;
}

.product-original-price {
  color: #b7b7b7;
  margin-right: 8px;
  text-decoration: line-through;
  padding-bottom: 3px;
}

.product-meta .discount {
  color: #ff5121;
  font-weight: 700;
  font-size: 20px;
  margin-right: 4px;
}

.product-price {
  font-size: 20px;
  color: #0f0f0f;
  font-weight: 900;
}
