.header_chat {
  position: fixed;
  top: 0px;
  z-index: 999;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.header_chat_wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #2f2f32;
}

.header_chat_back {
  width: 40px;
}

.header_chat_back i {
  font-size: 24px;
  color: white;
}

.header_chat_title {
  color: white;
  font-size: 20px;
  font-weight: 700;
}

.main_chat_wrap {
  /* padding-top: 148px; */
}

.main_chat_container {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
}

.container_user_chat_wrap {
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-bottom: 10px;
}

.container_user_chat {
  background-color: #ffd620;
  padding: 16px;
  display: flex;
  align-self: flex-end;
  border-radius: 10px 0 10px 10px;
  margin-bottom: 6px;
  font-size: 18px;
}

.container_yangban_chat_wrap {
  display: flex;
  margin-bottom: 10px;
}

.container_yangban_profile {
  width: 48px;
}
.yangban_profile_img {
  width: 100%;
  border-radius: 50%;
}

.container_yangban_chat_right {
  padding-left: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container_yangban_name {
  color: white;
  padding-bottom: 6px;
}

.container_yangban_chat {
  background-color: #f1efe4;
  padding: 16px;
  margin-bottom: 6px;
  border-radius: 0 10px 10px 10px;
  line-height: 27px;
  text-align: left;
  font-size: 18px;
}

.main_photo_container {
  padding: 0px 16px;
  position: fixed;
  z-index: 299;
  bottom: 0;
  background-color: #2f2f32;
  padding-bottom: 20px;
  padding-top: 16px;
}

.main_photo_container_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2f2f32;
  color: #ffd620;
  border: 1px solid #ffd620;
  border-radius: 10px;
  padding: 18px 0;
  font-size: 20px;
  font-weight: 700;
  height: 65px;
}

.main_photo_container_wrap i {
  padding-bottom: 3px;
  padding-right: 6px;
  font-size: 24px;
}

.file-upload-content2 {
  display: none;
}

.main_chat_input_container {
  position: fixed;
  z-index: 299;
  bottom: 0;
  background-color: #2f2f32;
  padding-bottom: 20px;
  padding-top: 16px;
}

.main_chat_input_example_wrap {
  position: fixed;
  z-index: 299;
  bottom: 103px;
  padding-left: 16px;
}

.main_chat_input_example {
  font-size: 16px;
  color: FFD620;
  background-color: #2f2f32;
  border: 1px solid #ffd620;
  color: #ffd620;
  border-radius: 20px;
  padding: 12px 24px;
}

.main_chat_input_container_wrap {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #b4b4b4;
  border-bottom: 1px solid #b4b4b4;
  width: 100%;
}

.main_chat_input_text {
  background-color: #2f2f32;
  color: white;
  border: none;
  outline: none;
  padding: 18px 0;
  font-size: 20px;
  height: 65px;
  padding-left: 16px;
  width: 100%;
}

.main_chat_input_btn {
  padding-right: 16px;
}

.main_chat_input_btn i {
  color: #aaaaaa;
  font-size: 30px;
}

/* 로딩  */

.message-loading {
  display: flex;
}

@keyframes pulse {
  0% {
    opacity: 0.33;
  }
  100% {
    opacity: 1;
  }
}

.led {
  width: 8px;
  height: 8px;
  background-color: #a5a089;
  padding: 0;
  border-radius: 50%;
}

.led-one,
.led-two {
  margin-right: 8px;
}

.led-one {
  animation: pulse 1s ease alternate infinite;
}

.led-two {
  animation: pulse 1s 0.33s ease alternate infinite;
}

.led-three {
  animation: pulse 1s 0.66s ease alternate infinite;
}
