.girlfr__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Yeon Sung", cursive;
  padding: 30px;
}

.girlfr__title .title {
  font-size: 26px;
  margin-bottom: 10px;
}

.girlfr__title .sub {
  font-size: 20px;
  opacity: 0.8;
}

.girlfr__frame {
  margin: 50px auto;
  border: 25px solid #222;
  height: 450px;
  width: 350px;
  -webkit-box-shadow: px 2px 3px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 10px 4px rgba(0, 0, 0, 0.3);
}

.girlfr__border {
  background: white;
  height: 100%;
  width: 100%;
  /* -webkit-box-shadow: inset 10px 10px 10px 4px rgba(0, 0, 0, 0.4);
  box-shadow: inset 3px 7px 2px 5px rgba(0, 0, 0, 0.4); */
}

.girlfr__image {
  position: absolute;
  height: 350px;
  width: 250px;
  margin-left: 25px;
  margin-top: 25px;
  -webkit-box-shadow: inset 10px 10px 10px 4px rgba(0, 0, 0, 0.6);
  box-shadow: inset 3px 7px 2px 5px rgba(0, 0, 0, 0.1);
}

.girlfr__text {
  position: absolute;
  margin-top: 420px;
  font-family: "Playball", cursive;
  font-size: 30px;
  margin-left: 85px;
}

.boyfr__border {
  box-sizing: border-box;
  position: relative;
  background: #252525;
  background-image: linear-gradient(top right, #5d5d5b, #383838);
  /* padding: 7px; */
  box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.1),
    -2px 2px 2px 1px rgba(0, 0, 0, 0.09), -3px 3px 2px 1px rgba(0, 0, 0, 0.08),
    -4px 4px 2px 1px rgba(0, 0, 0, 0.07), -5px 5px 2px 1px rgba(0, 0, 0, 0.06),
    -6px 6px 2px 1px rgba(0, 0, 0, 0.05), -7px 7px 2px 1px rgba(0, 0, 0, 0.04),
    -8px 8px 2px 1px rgba(0, 0, 0, 0.03), -9px 9px 2px 1px rgba(0, 0, 0, 0.03),
    -10px 10px 2px 1px rgba(0, 0, 0, 0.03),
    -11px 11px 2px 1px rgba(0, 0, 0, 0.03),
    -12px 12px 2px 1px rgba(0, 0, 0, 0.02),
    -13px 13px 2px 1px rgba(0, 0, 0, 0.02),
    -14px 14px 2px 1px rgba(0, 0, 0, 0.01),
    -15px 15px 2px 1px rgba(0, 0, 0, 0.01),
    -16px 16px 2px 1px rgba(0, 0, 0, 0.01);
}
.boyfr__border:before {
  content: "";
  display: block;
  padding-bottom: 125%;
}

.boyfr__frame {
  left: 3%;
  top: 2.5%;
  box-shadow: inset -1px 1px 6px 1px rgba(0, 0, 0, 0.24);
  width: 94%;
  height: 95%;
  background: white;
  align-items: center;
  display: flex;
  /* padding: 18px; */
  box-sizing: border-box;
  position: absolute;
}

.boyfr__image {
  box-shadow: inset 0 0 1px 0 rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center;
}

.ai__boy {
  font-size: 12px;
}
