.girlfr__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Yeon Sung", cursive;
  padding: 30px;
}

.girlfr__title .title {
  font-size: 26px;
  margin-bottom: 10px;
}

.girlfr__title .sub {
  font-size: 20px;
  opacity: 0.8;
}

.girlfr__frame {
  margin: 50px auto;
  border: 25px solid #222;
  height: 450px;
  width: 350px;
  -webkit-box-shadow: px 2px 3px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 10px 4px rgba(0, 0, 0, 0.3);
}

.girlfr__border {
  background: white;
  height: 100%;
  width: 100%;
  /* -webkit-box-shadow: inset 10px 10px 10px 4px rgba(0, 0, 0, 0.4);
  box-shadow: inset 3px 7px 2px 5px rgba(0, 0, 0, 0.4); */
}

.girlfr__image {
  position: absolute;
  height: 350px;
  width: 250px;
  margin-left: 25px;
  margin-top: 25px;
  -webkit-box-shadow: inset 10px 10px 10px 4px rgba(0, 0, 0, 0.6);
  box-shadow: inset 3px 7px 2px 5px rgba(0, 0, 0, 0.1);
}

.girlfr__text {
  position: absolute;
  margin-top: 420px;
  font-family: "Playball", cursive;
  font-size: 30px;
  margin-left: 85px;
}
