.habitown__banner__wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  opacity: 0;
  transition: 3s transform;
}

.habitown__banner {
  z-index: 99;
  position: fixed;
  top: 140px;
}

.habitown__upper__title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  font-size: 20px;
  color: white;
}

.habitown__upper__comment {
  color: white;
  margin-bottom: 4px;
  font-weight: 700;
}

.habitown__lower__comment {
  color: white;
  font-size: 14px;
  opacity: 0.8;
}

.habitown__img {
  width: 100%;
}

.habitown__img img {
  width: 100%;
}

.habitown__btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.habitown__left {
  display: flex;
  align-items: center;
}

.left__icon {
  width: 60px;
  margin-right: 10px;
}

.left__icon img {
  border-radius: 10px;
  width: 100%;
}

.left__description {
  color: white;
}

.left__title {
  font-size: 16px;
  font-weight: 700;
}

.left__sub {
  font-size: 14px;
  opacity: 0.8;
  margin: 4px 0;
}

.left__star {
  font-size: 14px;
  opacity: 0.8;
}

.app__download__btn {
  background-color: rgb(70, 70, 70);
  color: #6bb0ff;
  padding: 6px 16px;
  padding-top: 8px;
  font-weight: 700;
  border-radius: 10px;
  margin: 10px;
}

.app__download__btn:hover {
  cursor: pointer;
}

.habitown__under__img__wrap {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.habitown__img {
  width: 33%;
}

.habitrown__img img {
  width: 100%;
}

.habitown__img img {
  border-radius: 10px;
}

.under__img2 {
  margin: 0 4px;
}

.habitown__banner__img {
  width: 100%;
}

.habitown__banner__img img {
  width: 100%;
}

.habitown__download__btn__bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(70, 70, 70);
  color: #6bb0ff;
  margin-top: 10px;
  padding: 12px 0 10px 0;
  font-weight: 700;
  border-radius: 10px;
}

.habitown__download__btn__bottom:hover {
  cursor: pointer;
}

.habitown__cancel__btn__bottom {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  text-decoration: underline;
  padding: 12px 0 10px 0;
  color: white;
  opacity: 0.6;
}

.habitown__cancel__btn__bottom:hover {
  cursor: pointer;
}

.black__board {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 1;
  z-index: 60;
  transition: all 0.5s;
}

.black__board:hover {
  cursor: pointer;
}

.disblock {
  display: none;
}

.disappear {
  opacity: 0;
}

.appear {
  opacity: 1;
}
