@media screen and (min-width: 500px) {
  .footer,
  .test__upper,
  .submitForm,
  .today__weather__wrap,
  .lower__comment {
    width: 500px;
  }

  .dang__ad {
    width: 320px;
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .border {
    width: 350px;
  }

  .border__hair {
    width: 500px;
  }

  .apologize {
    width: 320px;
  }
  body {
    border-right: 1px solid black;
  }
}
@media screen and (max-width: 499px) {
  .border,
  .test__upper,
  .submitForm,
  .dang__ad {
    width: 70%;
  }
  .dang__ad {
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .ad__upper,
  .header,
  .footer,
  .today__weather__wrap,
  .today__weather,
  .lower__comment {
    width: 100%;
  }

  .border__hair {
    width: 70%;
  }
  .apologize {
    width: 320px;
  }
}
