@media screen and (min-width: 500px) {
  .ad__upper,
  .header,
  .footer,
  .test__upper,
  .submitForm,
  .header__menu__wrap,
  .today__weather__wrap,
  .lower__comment {
    width: 500px;
  }

  .border {
    width: 350px;
  }

  .border__hair {
    width: 500px;
  }

  .apologize {
    width: 320px;
  }
  body {
    border-right: 1px solid black;
  }
}
@media screen and (max-width: 499px) {
  .border,
  .test__upper,
  .submitForm {
    width: 70%;
  }

  .ad__upper,
  .header,
  .footer,
  .today__weather__wrap,
  .today__weather,
  .lower__comment {
    width: 100%;
  }

  .border__hair {
    width: 70%;
  }
  .apologize {
    width: 320px;
  }
}
