@import "../../commonStyles/common.css";
@import "../../commonStyles/reset.css";
@import "../../commonStyles/header.css";
@import "../../commonStyles/footer.css";
@import "../../commonStyles/media.css";
@import "../../commonStyles/nav.css";
@import "../../commonStyles/styles.css";

@import "main.css";
@import "picture.css";
@import "result.css";
@import "couple.css";
@import "reunion.css";

.resultHistory_wrap {
  width: 100%;
  min-height: 50vh;
  margin-top: 80px;
}

.resultHistory_title {
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  color: rgb(10, 10, 10);
  padding: 12px 16px;
  display: flex;
  justify-content: flex-start;
}

#resultHistory {
  padding: 0px 16px;
}

.resultHistory {
  width: 100%;
  padding: 16px 0;
}

.resultHistory a {
  color: rgb(10, 10, 10);
  text-decoration: none;
}

.resultHistory_image_wrap {
  width: 100%;
  display: flex;
  margin-right: auto;
}

.image_square_frame2 {
  width: 48px;
  height: 48px;
  overflow: hidden;
  position: relative;
  margin-right: 12px;
}

.resultHistory_image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* ✅ 프레임을 채우며 비율 맞추고 자르기 */
  object-position: center; /* ✅ 중앙 기준 자르기 */
  display: block;
  border-radius: 4px;
}

.resultHistory_paid {
  margin-bottom: 12px;
}

.resultHistory_date {
  margin-top: 12px;
  color: rgb(107, 107, 107);
}

.resultHistory_summary {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 최대 2줄 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; /* 줄임표(...) 추가 */
  width: 90%;
}

.resultHistory_bottom {
  margin-top: 12px;
  font-size: 16px;
  color: #fbd500;
}

.no-results {
  text-align: center;
  margin-top: 60px;
  height: 100vh;
  color: black;
}

.view-face-button {
  width: 60%;
  display: inline-block;
  margin-top: 16px;
  padding: 12px 20px;
  background-color: #fbd500;
  color: black;
  font-weight: bold;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.2s ease;
}

.view-face-button:hover {
  background-color: #d4b81a;
}

/* 우측 상단 버튼 */
.clear-btn {
  margin-left: auto; /* 남은 공간 모두 ⇒ 버튼 왼쪽 여백 */
  padding: 6px 10px;
  font-size: 13px;
  color: #fff;
  background: #eb5757; /* 빨간색 강조 */
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.clear-btn:hover {
  opacity: 0.85;
}
