@import "gender.css";
@import "fileupload.css";
@import "picture.css";
@import "reset.css";
@import "header.css";
@import "result.css";
@import "media.css";
@import "footer.css";

@import url("https://fonts.googleapis.com/css?family=Asap:400,500,700");

body {
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

* {
  box-sizing: border-box;
}

.jocoding {
  width: 100%;
  font-weight: 700;
  align-self: flex-end;
  text-align: center;
  margin-right: 30px;
  font-size: 15px;
  margin-bottom: 15px;
}

.jocoding a {
  color: white;
}

.jocoding a:link {
  text-decoration: underline;
  color: #ff0200;
}

.jocoding a:visited {
  text-decoration: underline;
  color: #ff0200;
}

.disblock {
  display: none;
}
/* 
a {
  text-decoration: none;
  opacity: 0.6;
  padding: 60px;
  font-weight: bolder;
  position: absolute;
  right: 0px;
  bottom: 0px;
  font-size: 1.4em;
  font-family: "Asap", sans-serif;
} */

a:hover {
  opacity: 1;
}

#container {
  width: 160px;
  height: 36px;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  user-select: none;
  cursor: pointer;
  margin-bottom: 10px;
}

.inner-container {
  position: absolute;
  left: 0;
  top: 0;
  width: inherit;
  height: inherit;
  text-transform: uppercase;
  font-size: 0.6em;
  letter-spacing: 0.2em;
}

.inner-container:first-child {
  background: #e9e9e9;
  color: #a9a9a9;
}

.inner-container:nth-child(2) {
  background: #d74046;
  color: white;
  clip-path: inset(0 50% 0 0);
  transition: 0.3s cubic-bezier(0, 0, 0, 1);
}

.toggle {
  width: 50%;
  position: absolute;
  height: inherit;
  display: flex;
  box-sizing: border-box;
}

.toggle p {
  margin: auto;
}

.toggle:nth-child(1) {
  right: 0;
}

.number {
  margin-top: 10px;
  margin-bottom: 5px;
}

.count__num {
  font-weight: 700;
}

.timer {
  color: rgb(129, 129, 129);
  font-weight: 400;
  font-size: 12px;
}

.header {
  padding-bottom: 16px;
}

.share {
  width: 100%;
  text-align: center;
  font-size: 12px;
  margin-top: 3px;
}

.result button {
  outline: none;
}

.result button:hover {
  cursor: pointer;
}

.result button:active {
  outline: none;
}

.super__members {
  width: 320px;
}

.super__img,.dosa__img {
  width: 100%;
}

.super__img:hover {
  cursor: pointer;
}

.dosa__img:hover {
  cursor: pointer;
}

.other__result {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  /* overflow-x: scroll;
  overflow-x: hidden; */
  white-space: nowrap;
}

.star__list__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.star__list__img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
  margin: 2px;
}

.percent {
  font-size: 16px;
  color: black;
}

.contact_me {
  font-size: 16px;
  text-decoration: none;
  margin-top: 10px;
  color: grey;
}
