@import "gender.css";
@import "fileupload.css";
@import "picture.css";
@import "reset.css";
@import "header.css";
@import "result.css";

@import url("https://fonts.googleapis.com/css?family=Asap:400,500,700");

body {
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  height: 140vh;
  align-items: center;
  width: 100%;
}

* {
  box-sizing: border-box;
}

.jocoding {
  font-weight: 700;
  align-self: flex-end;
  margin-right: 30px;
  font-size: 15px;
  margin-bottom: 15px;
}

.jocoding a {
  color: white;
}

.jocoding a:link {
  text-decoration: underline;
  color: #ff0200;
}

.jocoding a:visited {
  text-decoration: underline;
  color: #ff0200;
}

.disblock {
  display: none;
}
/* 
a {
  text-decoration: none;
  opacity: 0.6;
  padding: 60px;
  font-weight: bolder;
  position: absolute;
  right: 0px;
  bottom: 0px;
  font-size: 1.4em;
  font-family: "Asap", sans-serif;
} */

a:hover {
  opacity: 1;
}

#container {
  width: 160px;
  height: 36px;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  user-select: none;
  cursor: pointer;
  margin-bottom: 10px;
}

.inner-container {
  position: absolute;
  left: 0;
  top: 0;
  width: inherit;
  height: inherit;
  text-transform: uppercase;
  font-size: 0.6em;
  letter-spacing: 0.2em;
}

.inner-container:first-child {
  background: #e9e9e9;
  color: #a9a9a9;
}

.inner-container:nth-child(2) {
  background: dodgerblue;
  color: white;
  clip-path: inset(0 50% 0 0);
  transition: 0.3s cubic-bezier(0, 0, 0, 1);
}

.toggle {
  width: 50%;
  position: absolute;
  height: inherit;
  display: flex;
  box-sizing: border-box;
}

.toggle p {
  margin: auto;
}

.toggle:nth-child(1) {
  right: 0;
}
