.ad_box {
  width: 320px;
  height: 50px;
  margin: 0 outo;
  margin-bottom: 10px;
}

.ad_box2 {
  width: 320px;
  height: 90px;
  margin: 0 outo;
  margin-bottom: 10px;
}
.ad_box3 {
  width: 320px;
  height: 250px;
  margin: 0 outo;
  margin-top: 10px;
  margin-bottom: 10px;
}

.ad_box4 {
  width: 320px;
  height: 90px;
  margin: 0 outo;
  margin-bottom: 10px;
  margin-top: 10px;
}

.ad_box5 {
  width: 320px;
  height: 100px;
  margin: 0 outo;
  margin-bottom: 10px;
}

.ad_box6 {
  width: 320px;
  height: 140px;
  margin: 0 outo;
  margin-bottom: 10px;
}

.ad_box7 {
  width: 300px;
  height: 250px;
  margin: 0 outo;
  margin-bottom: 10px;
  margin-top: 20px;
}

.ad_box8 {
  width: 320px;
  height: 105px;
  margin: 0 outo;
  margin-top: 10px;
  margin-bottom: 10px;
}

.ad_box_custom {
  width: 320px;
  margin: 0 outo;
  margin-top: 10px;
  margin-bottom: 10px;
}

.ad_box_custom img {
  width: 100%;
}

.ad_box10 {
  width: 320px;
  height: 180px;
  margin: 0 outo;
  margin-top: 10px;
  margin-bottom: 10px;
}

.ad_box_coupang {
  width: 320px;
  height: 320px;
  margin: 0 outo;
  margin-top: 10px;
  margin-bottom: 10px;
}

.ad_box11 {
  width: 320px;
  height: 320px;
  margin: 0 outo;
  margin-top: 10px;
  margin-bottom: 10px;
}

.ad_box9 {
  width: 320px;
  height: 500px;
  margin: 0 outo;
  margin-top: 10px;
  margin-bottom: 10px;
}

.bottom_ad {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: fixed;
  bottom: 0px;
  z-index: 100;
  justify-content: space-between;
  align-items: center;
}

.bottom_ad_top {
  background-color: #181600;
  width: 100%;
  color: white;
  font-size: 16px;
  padding: 6px;
  text-align: center;
  font-weight: 300;
}

.bottom_ad_bottom {
  background-color: #fee500;
  padding: 12px 16px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.bottom_ad_ment {
  color: #181600;
  font-weight: bold;
  line-height: 20px;
}

.bottom_ad_btn {
  background-color: #181600;
  color: white;
  padding: 8px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.bottom_ad_btn:active {
  opacity: 0;
}

.bottom_ad_btn i {
  margin-right: 2px;
}

.banner_wrap {
  width: 320px;
  margin-bottom: 20px;
}

.banner_wrap img {
  width: 100%;
  border-radius: 12px;
}

.ad_box_custom {
  background-color: #222;
  padding: 16px;
  border-radius: 8px;
  color: #fff;
  font-family: "Apple SD Gothic Neo", sans-serif;
  width: fit-content;
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.ad_top_text {
  font-size: 14px;
  background: transparent;
  color: transparent;
  background-image: linear-gradient(to right, #ffd700, #ffa500);
  -webkit-background-clip: text;
  background-clip: text;
  font-family: "KimjungchulMyungjo-Bold"; /* 네가 쓰던 폰트 그대로 적용 */
  margin-bottom: 8px;
}

.ad_title {
  font-size: 20px;
  background: transparent;
  color: transparent;
  background-image: linear-gradient(to right, #ffd700, #ffa500);
  -webkit-background-clip: text;
  background-clip: text;
  font-family: "KimjungchulMyungjo-Bold"; /* 네가 쓰던 폰트 그대로 적용 */
  margin-bottom: 12px;
}

.ad_subtitle {
  font-size: 13px;
  color: #e1e1e1;
  margin-bottom: 12px;
}

.ad_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.ad_count {
  font-size: 13px;
  color: #ff6f6f;
  font-weight: bold;
}

.ad_button {
  font-size: 13px;
  background-color: #ffc107;
  color: #000;
  padding: 4px 10px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
}
