.header_chat_wrap {
  font-family: "KimjungchulMyungjo-Bold";
}

.header_chat {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  background-color: #ffffff;
  text-decoration: none;
  box-shadow: 0 1px 20px rgba(54, 54, 54, 0.1);
}

.header_fixed {
  position: fixed;
  top: 0;
  z-index: 999;
}

.header_chat_icon {
  color: #0f0f0f;
  text-decoration: none;
  padding-top: 4px;
}

.material-icons {
  font-size: 12px;
}

.header_chat_title {
  color: #0f0f0f;
  font-size: 20px;
  text-decoration: none;
}

#header_back a {
  text-decoration: none;
}

.header_btn {
  display: flex;
  text-align: center;
}

.header_chat_right {
  margin-left: auto;
}
