@media screen and (min-width: 500px) {
  .footer,
  .header_chat_wrap,
  .header_fixed,
  .main_body_wrap,
  .nav_wrap,
  .main_content_wrap {
    width: 500px;
  }

  .border,
  .result,
  .modal-content,
  .label-container {
    width: 350px;
  }
}
@media screen and (max-width: 499px) {
  .footer,
  .header_chat_wrap,
  .header_fixed,
  .main_body_wrap,
  .nav_wrap,
  .main_content_wrap {
    width: 100%;
  }

  .border,
  .test__upper,
  .submitForm,
  .result,
  .label-container {
    width: 320px;
  }
}
